<<<<<<< HEAD
    <div class="home-group">
      <%= render 'form', picture: @picture %>
    </div>
=======

    <div class="list-group">
      <%= render 'form', picture: @picture %>
    </div>

    

   
>>>>>>> storing_to_database
