/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;g
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
 }

 body {
  background: #f7f7f7;
  color: #272727;
 }

 a, a:link, a:hover, a:visited, a:active {
  color: #272727;
  text-decoration: none;
}

 header {
  margin: 0 auto;
  padding: 0.5em 0;
  background: #fff;
  height: 50px;
/*  border-bottom: 1px solid #ccc;*/
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.18);
 }

#site-title {
  margin: 0;
  padding: 0;
  font-family: "Chicle", cursive;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

#site-title a:link, a:hover, a:visited, a:active {
  color: #272727;
  text-decoration: none;
}

.home-group {
  margin: 20% auto 0;
  border-radius: 0;
}

.input-group {
  margin: 0 auto 1em;
  border-radius: 0;
}

.form-control:focus {
  outline: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@media screen and (min-width: 768px) {
  .list-group {
    width: 400px;
  }
}